/* Schriftart */
@font-face {
   font-family: "Inter";
   src: url(./assets/fonts/Inter-VariableFont_opsz\_wght.ttf);
}

@font-face {
   font-family: "Poppins";
   src: url(./assets/fonts/Poppins-Regular.ttf);
}

/* Allgemein */
* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
   scrollbar-color: #2b3647;
   cursor: default;
}

body {
   font-family: "Inter";
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
   min-height: 100vh;
   color: #000;
   display: flex;
   justify-content: left;
}

.content_max-width {
   width: calc(1440px - 232px);
   max-width: 1440px;
   display: flex;
   justify-content: space-between;
}

h1 {
   font-size: 61px;
   font-weight: 700;
}

h2 {
   font-size: 47px;
   font-weight: 500;
}

.list {
   list-style-type: none;
}

.mainArea {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Navigation */
.navBar {
   position: fixed;
   height: 100vh;
   padding-bottom: 64px;
   color: #fff;
   background-color: #2b3647;
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 1;
   width: 232px;
}

.navBar__logo {
   width: 100%;
   padding: 64px 0;
   background-color: #2b3647;
   display: flex;
   justify-content: center;
}

.navBar__menu {
   width: 100%;
   padding: 48px 0;
   display: flex;
   justify-content: center;
}

.navBar__list {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 15px;
}

.navBar__quicklink {
   padding: 8px 56px;
   display: flex;
   align-items: center;
   gap: 8px;
   transition: all 100ms ease-in;
}

.navBar__quicklink:hover {
   cursor: pointer;
   background-color: #2a3d59;
}

.navBar__quicklink--active {
   background-color: #091931;
}

.navBar__quicklink--active:hover {
   cursor: default;
   background-color: #091931;
}

.navBar__legalInformation {
   width: 100%;
   height: 100%;
   color: #a8a8a8;
   display: flex;
   align-items: stretch;
   justify-content: flex-end;
   align-content: center;
   flex-direction: column;
   gap: 4px;
}

.legalInformation {
   width: 100%;
   padding: 8px 56px;
   min-height: 24px;
   box-sizing: border-box;
   color: #cdcdcd;
   line-height: 24px;
   display: flex;
   align-items: center;
   transition: all 125ms;
}

.legalInformation:hover {
   cursor: pointer;
   color: #29abe2;
   font-weight: 700;
}

.legalInformation.navBar__quicklink--active {
   font-weight: 400;
   background-color: #091931;
   color: #cdcdcd;
   cursor: default;
}

/* Header */
.header {
   background-color: #fff;
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
}

.header_flex-instructions {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.topBar {
   padding: 20px 40px 20px 348px;
}

.topBar__name {
   font-size: 20px;
}

.topBar__loginHelp {
   display: flex;
   align-items: center;
   gap: 16px;
}

.help__icon {
   transition: all 125ms;
}

.help__icon:hover {
   cursor: pointer;
   scale: 1.2;
}

.login__initials {
   width: 56px;
   height: 56px;
   font-size: 14px;
   color: #29abe2;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid #2a3647;
   border-radius: 56px;
   transition: all 125ms;
}

.login__initials:hover {
   cursor: pointer;
   background-color: rgba(12, 46, 98, 0.12);
}

/* Dropdown */
.header__dropdown {
    display: none;
    position: fixed;
    top: 96px;
    right: 40px;
    background-color: #2a3647;
    color: #cdcdcd;
    border-radius: 20px 0 20px 20px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
    z-index: 10;
}

.header__dropdown--opened {
    display: block;
}

.header__dropdown-quicklinks {
    padding: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.header__dropdown-quicklink {
    padding: 13px 16px;
}

.header__dropdown-quicklink:hover {
    cursor: pointer;
    background-color: #2a3d59;
}

/* Main */
.main {
   margin-left: 232px;
   background-color: #f6f7f8;
   flex-grow: 1;
}

.main_flex-instructions {
   width: 100%;
}

.headline {
   display: flex;
   align-items: center;
}

.headline__dividingLine {
   height: 59px;
}

.headline__description {
   font-size: 27px;
   font-weight: 400;
}

@media (max-width: 1025px) {
   /* Main */
   .headline {
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
   }

   .headline__dividingLine {
      transform: rotate(90deg) translateY(-50%);
      transform-origin: center;
      order: 1;
   }
}

@media (max-width: 980px) {
   /* Allgemein */
   body {
      font-size: 16px; /* ? */
   }

   h1 {
      font-size: 61px; /* ? */
   }

   h2 {
      font-size: 47px; /* ? */
   }

   /* Navigation */
   .navBar {
      padding-bottom: 48px;
   }

   .navBar__logo {
      padding: 48px 0;
   }

   .navBar__menu {
      padding: 48px 0;
   }

   .navBar__quicklink {
      padding: 8px 48px;
   }

   .legalInformation {
      padding: 8px 48px;
   }

   /* Header */
   .topBar {
      padding: 20px 40px 20px 288px;
   }
}

@media (max-width: 820px) {
   /* Allgemein */
   body {
      font-size: 16px; /* ? */
   }

   h1 {
      font-size: 61px; /* ? */
   }

   h2 {
      font-size: 47px; /* ? */
   }

   /* Navigation */
   .navBar {
      padding-bottom: 40px;
   }

   .navBar__logo {
      padding: 40px 0;
   }

   .navBar__menu {
      padding: 40px 0;
   }

   .navBar__quicklink {
      padding: 8px 40px;
   }

   .legalInformation {
      padding: 8px 40px;
   }

   /* Header */
   .topBar {
      padding: 20px 40px 20px 224px;
   }
}

@media (max-width: 700px) {
   /* Mobile Ansicht */
}
