/* Schriftart */
@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

/* Allgemein */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    scrollbar-color: black;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    min-height: 100vh;
    color: #000;
    display: flex;
    justify-content: left;
}

.content_max-width {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.list {
    list-style-type: none;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation */
.navBar {
    position: absolute;
    height: 100vh;
    padding-bottom: 64px;
    color: #fff;
    background-color: #2b3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.navBar__logo {
    width: 100%;
    padding: 64px 0;
    background-color: #2b3647;
    display: flex;
    justify-content: center;
}

.navBar__menu {
    width: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.list__quicklink {
    padding: 8px 56px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.list__quicklink:hover {
    cursor: pointer;
}

.list__quicklink--active {
    background-color: #091931;
}

.navBar__legalInformation {
    height: 100%;
    color: #a8a8a8;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    gap: 4px;
}

.legalInformation {
    padding: 8px;
}

.legalInformation:hover {
    cursor: pointer;
}

/* Header */
.header {
    padding: 20px 40px 20px 348px;
    background-color: #fff;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.1));
}

.header__headline {
    font-size: 20px;
}

.header__loginHelp {
    display: flex;
    align-items: center;
    gap: 16px;
}

.loginHelp__icon {
    transition: all 125ms;
}

.loginHelp__icon:hover {
    cursor: pointer;
    scale: 1.2;
}

.loginHelp__initials {
    width: 56px;
    height: 56px;
    font-size: 14px;
    color: #29abe2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2a3647;
    border-radius: 56px;
    transition: all 125ms;
}

.loginHelp__initials:hover {
    cursor: pointer;
    background-color: rgba(12, 46, 98, 0.12);
}

/* Main */
.main {
    padding: 0 0 0 328px;
    background-color: #f6f7f8;
    display: flex;
    flex-grow: 1;
}

.main_flex-instructions {
    flex-direction: column;
}

.main__headline {
    padding: 110px 0 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.headline__dividingLine {
    height: 59px;
}

.headline__description {
    font-size: 27px;
    font-weight: 400;
}