/* Schriftart */
@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

/* Allgemein */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    scrollbar-color: #2b3647;
    cursor: default;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    min-height: 100vh;
    color: #000;
    display: flex;
    justify-content: left;
}

.content_max-width {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 47px;
    font-weight: 500;
}

.list {
    list-style-type: none;
}

.mainArea {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation */
.navBar {
    position: absolute;
    height: 100vh;
    padding-bottom: 64px;
    color: #fff;
    background-color: #2b3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.navBar__logo {
    width: 100%;
    padding: 64px 0;
    background-color: #2b3647;
    display: flex;
    justify-content: center;
}

.navBar__menu {
    width: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: center;
}

.navBar__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.navBar__quicklink {
    padding: 8px 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 100ms ease-in;
}

.navBar__quicklink:hover {
    cursor: pointer;
    background-color: #2a3d59;
}

.navBar__quicklink--active {
    background-color: #091931;
}

.navBar__quicklink--active:hover {
    cursor: default;
    background-color: #091931;
}

.navBar__legalInformation {
    width: 100%;
    height: 100%;
    color: #a8a8a8;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    gap: 4px;
}

.legalInformation {
    width: 100%;
    padding: 8px 56px;
    min-height: 24px;
    box-sizing: border-box;
    color: #CDCDCD;
    line-height: 24px;
    display: flex;
    align-items: center;
    transition: all 125ms;
}

.legalInformation:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.legalInformation.navBar__quicklink--active {
    background-color: #091931;
    color: #CDCDCD;
}

.legalInformation.navBar__quicklink--active:hover {
    color: #29ABE2;
    font-weight: 700;
}

/* Header */
.header {
    background-color: #fff;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.1));
}

.header_flex-instructions {
    display: flex;
    align-items: center;
}

.topBar {
    padding: 20px 40px 20px 348px;
}

.topBar__name {
    font-size: 20px;
}

.topBar__loginHelp {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help__icon {
    transition: all 125ms;
}

.help__icon:hover {
    cursor: pointer;
    scale: 1.2;
}

.login__initials {
    width: 56px;
    height: 56px;
    font-size: 14px;
    color: #29abe2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2a3647;
    border-radius: 56px;
    transition: all 125ms;
}

.login__initials:hover {
    cursor: pointer;
    background-color: rgba(12, 46, 98, 0.12);
}

/* Main */
.main {
    padding: 0 100px 0 328px;
    background-color: #f6f7f8;
    display: flex;
    flex-grow: 1;
}

.main_flex-instructions {
    width: 100%;
    flex-direction: column;
}

.headline {
    padding: 110px 0 48px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.headline__dividingLine {
    height: 59px;
}

.headline__description {
    font-size: 27px;
    font-weight: 400;
}

.overview {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 64px;
}

.overview__summary {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.summary__card {
    background-color: #fff;
    display: flex;
    border-radius: 30px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.1));
    transform-origin: left;
    transition: all 100ms;
}

.summary__card:nth-child(2) {
    transform-origin: center;
}

.summary__card:last-child {
    transform-origin: right;
}

.summary__card.summary__urgent {
    background-color: #fff;
    display: flex;
    border-radius: 30px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.1));
    transform-origin: left top;
    transition: all 100ms;
}

.summary__card:hover {
    cursor: pointer;
    background-color: #2b3647;
    color: #fff;
    transform: scaleX(1.07) scaleY(1.09);
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
}

.summary__card.summary__urgent:hover {
    transform: scaleX(1.03) scaleY(1.09);
}

.summary__card:hover .summary__text {
    color: #fff;
}

.summary__card:hover .todo__icon--circle {
    fill: #fff;
}

.summary__card:hover .todo__icon--pencil {
    fill: #2b3647;
}

.summary__card:hover .todo__icon--checked {
    stroke: #2b3647;
}

.summary__card:active {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
}

.summary__card:active .summary__text {
    color: #2b3647;
}

.summary__card:active .todo__icon--circle {
    fill: #2b3647;
}

.summary__card:active .todo__icon--pencil {
    fill: #fff;
}

.summary__card:active .todo__icon--checked {
    stroke: #fff;
}

.summary__number {
    font-size: 64px;
    font-weight: 600;
}

.summary__text{
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
}

.summary__todo {
    display: flex;
    flex: 1;
    gap: 28px;
}

.todo__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 18px;
}

.summary__urgent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 61px;
}

.urgent__priority {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.urgent__icon {
    height: 60px;
}

.priority__card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.priority__text {
    font-size: 16px;
    font-weight: 400;
    color: #2a3647;
}

.urgent__dividingLine {
    height: 102px;
}

.urgent__date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
}

.date__number {
    font-size: 21px;
    font-weight: 700;
}

.date__deadline {
    font-size: 16px;
    font-weight: 400;
}

.summary__tasks {
    display: flex;
    flex: 1;
    gap: 28px;
}

.tasks__card {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.overview__greetings {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3px;
}

.greetings__name {
    font-size: 64px;
}

.greetings__name--secondary {
    color: #29abe2;
}
