.add-task__form-information {
   padding: 0 136px 0 96px;
   display: flex;
   flex-direction: column;
   gap: 96px;
}

.add-task__overview {
   display: flex;
   justify-content: space-between;
}

.headline_tasks {
   padding: 110px 64px 48px 96px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 16px;
}

.add-task__close-button {
   background-color: transparent;
   border: none;
}

.add-task__close-icon {
   height: 32px;
   border-radius: 56px;
}

.add-task__close-icon:hover {
   background-color: #d1d1d1;
   cursor: pointer;
   transition: all 100ms ease-in-out;
}

.add-task__information-group {
   width: 43.5%;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__information-group--selection {
   gap: 24px;
}

.add-task__selection-group {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__input-group {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__label {
   font-size: 20px;
   font-weight: 400;
   color: #2b3647;
   display: flex;
}

.add-task__label--required {
   color: #ff8190;
}

.add-task__input {
   font-size: 20px;
   font-weight: 400;
   padding: 12px 16px;
   background-color: #fff;
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   outline: none;
}

.add-task__input::placeholder {
   color: #d1d1d1;
}

.add-task__input-field {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.add-task__input--title {
   padding: 12px 21px;
}

.add-task__subtask-field {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.add-task__input--subtasks {
   width: 100%;
   padding-right: 76px;
   box-sizing: border-box;
}

.add-task__subtask-actions {
   position: absolute;
   top: 0;
   right: 8px;
   height: 100%;
   display: flex;
   align-items: center;
   gap: 4px;
   opacity: 0;
   pointer-events: none;
   transition: all 100ms ease-in-out;
}

.add-task__subtask-field:focus-within .add-task__subtask-actions {
   opacity: 1;
   pointer-events: auto;
}

.add-task__subtask-button {
   width: 24px;
   height: 24px;
   padding: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   cursor: pointer;
}

.add-task__subtask-icon {
   width: 24px;
   height: 24px;
   display: block;
}

.add-task__subtask-dividingline {
   width: 1px;
   height: 24px;
   background-color: #d1d1d1;
   display: block;
}

.add-task__input-group--subtasks {
   position: relative;
}

.add-task__subtask-list {
   position: absolute;
   top: calc(100% + 8px);
   left: 0;
   right: 0;
   max-height: 110px;
   background-color: #f6f7f8;
   display: flex;
   flex-direction: column;
   list-style: disc inside;
   z-index: 2;
   overflow-y: auto;
   scrollbar-color: #2b3647 #f6f7f8;
}

.add-task__subtask-list::-webkit-scrollbar {
   width: 8px;
}

.add-task__subtask-list::-webkit-scrollbar-track {
   background-color: #f6f7f8;
}

.add-task__subtask-list::-webkit-scrollbar-thumb {
   background-color: #2b3647;
   border-radius: 4px;
}

.add-task__subtask-list:empty {
   display: none;
}

.add-task__subtask-item {
   font-size: 16px;
   padding: 6px 16px;
   color: #2b3647;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
   transition: all 100ms ease-in-out;   list-style: none;
}

.add-task__subtask-item::before {
   content: "•";
   margin-right: 8px;
}

.add-task__subtask-text {
   flex: 1;
}

.add-task__subtask-item-actions {
   display: flex;
   align-items: center;
   gap: 4px;
   opacity: 0;
   pointer-events: none;
   transition: all 100ms ease-in-out;
}

.add-task__subtask-item:hover .add-task__subtask-item-actions {
   opacity: 1;
   pointer-events: auto;
}

.add-task__subtask-item-button {
   width: 24px;
   height: 24px;
   padding: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   cursor: pointer;
}

.add-task__subtask-item-icon {
   width: 24px;
   height: 24px;
   display: block;
}

.add-task__subtask-item--editing {
   background-color: #fff;
   padding: 6px 16px 5px;
   border-bottom: 1px solid #29abe2;
   border-radius: 0;
   transition: all 100ms ease-in-out;
}

.add-task__subtask-item--editing::before {
   display: none;
}

.add-task__subtask-item--editing .add-task__subtask-item-actions {
   opacity: 1;
   pointer-events: auto;
}

.add-task__subtask-item-button--delete-edit,
.add-task__subtask-item-button--check {
   display: none !important;
}

.add-task__subtask-item--editing .add-task__subtask-item-button--edit,
.add-task__subtask-item--editing .add-task__subtask-item-button--delete {
   display: none !important;
}

.add-task__subtask-item--editing .add-task__subtask-item-button--delete-edit,
.add-task__subtask-item--editing .add-task__subtask-item-button--check {
   display: flex !important;
}

.add-task__subtask-input {
   font-size: 16px;
   padding: 0;
   background-color: transparent;
   color: #2b3647;
   border: none;
   border-radius: 0;
   outline: none;
   font-family: inherit;
   flex: 1;
}

.add-task__subtask-item:hover {
   background-color: #eee;
   cursor: text;
}

.add-task__subtask-item--editing:hover {
   background-color: #fff;
}

.add-task__input--required {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 400;
   color: rgba(230, 0, 38, 0);
}

.add-task__input--textarea {
   height: 120px;
   min-height: 48px;
   max-height: 160px;
   resize: none;
   overflow: auto;
}

.add-task__input-field--textarea {
   position: relative;
}

.add-task__textarea-resize {
   position: absolute;
   right: 6px;
   bottom: 24px;
   height: 16px;
   cursor: ns-resize;
   user-select: none;
   pointer-events: none;
}

.add-task__input--date {
   width: 100%;
   padding: 12px 48px 12px 16px;
   color: #2b3647;
   box-sizing: border-box;
   appearance: none;
}

.date-picker {
   position: relative;
   width: 100%;
}

.date-picker__toggle {
   position: absolute;
   top: 0;
   right: 0;
   width: 48px;
   height: 100%;
   background: transparent url("../assets/icons/desktop/calendary.svg") no-repeat center;
   border: none;
   background-size: 24px 24px;
   cursor: pointer;
   z-index: 2;
}

.date-picker__panel {
   position: absolute;
   bottom: calc(100% + 8px);
   left: 0;
   width: 100%;
   padding: 12px;
   background: #fff;
   display: none;
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   z-index: 10;
}

.date-picker__panel--open {
   display: block;
}

.date-picker__header {
   margin-bottom: 8px;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   align-items: center;
   gap: 4px;
}

.date-picker__nav {
   font-size: 16px;
   width: 100%;
   height: 32px;
   background: #f6f7f8;
   color: #2a3647;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

.date-picker__nav:hover {
   background: rgba(41, 171, 226, 0.25);
   transition: all 100ms ease-in-out;
}

.date-picker__month {
   font-weight: 600;
   color: #2a3647;
   text-align: center;
   grid-column: 2 / span 5;
}

.date-picker__weekdays {
   font-size: 12px;
   margin-bottom: 6px;
   color: #a8a8a8;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   text-align: center;
}

.date-picker__days {
   min-height: calc((32px * 6) + (4px * 5));
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-auto-rows: 32px;
   gap: 4px;
}

.date-picker__day {
   font-size: 14px;
   height: 32px;
   padding: 0;
   background: #f6f7f8;
   color: #2a3647;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

.date-picker__day:hover {
   background: rgba(41, 171, 226, 0.25);
   transition: all 100ms ease-in-out;
}

.date-picker__day--empty {
   background: transparent;
   cursor: default;
}

.date-picker__day--today {
   background: #e7f7fc;
   outline: 2px solid #29abe2;
}

.date-picker__day--today:hover {
   color: #2a3647;
   transition: all 100ms ease-in-out;
}

.date-picker__day--selected {
   background: #29abe2;
   color: #fff;
}

.date-picker__day--selected:hover {
   color: #2a3647;
   transition: all 100ms ease-in-out;
}

.date-picker__day--disabled {
   background: #f6f7f8;
   color: #d1d1d1;
   cursor: default;
}

.add-task__dividing-line {
   height: 424px;
}

.add-task__priority-field {
   display: flex;
   gap: 16px;
}

.add-task__priority-option {
   font-size: 20px;
   font-weight: 400;
   padding: 16px 0;
   background-color: #fff;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   gap: 8px;
   border: none;
   border-radius: 10px;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
   cursor: pointer;
}

.add-task__priority-option:hover {
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
   transition: all 100ms ease-in-out;
}

.add-task__priority-option--active.add-task__priority-option--urgent {
   background-color: #ff3d00;
}

.add-task__priority-option--active.add-task__priority-option--medium {
   background-color: #ffa800;
}

.add-task__priority-option--active.add-task__priority-option--low {
   background-color: #7ae229;
}

.add-task__priority-option--active {
   font-size: 21px;
   font-weight: 700;
   color: #fff;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0));
}

.add-task__priority-option--active:hover {
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0));
   transition: all 100ms ease-in-out;
}

.add-task__priority-option--active .add-task__priority-icon--secondary {
   fill: #fff;
}

.add-task__select {
   font-size: 20px;
   font-weight: 400;
   position: relative;
   padding: 12px 16px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   cursor: pointer;
   z-index: 2;
}

.add-task__select:hover {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
   transition: all 100ms ease-in-out;
}

.add-task__select-input {
   font-size: 20px;
   font-weight: 400;
   border: none;
   background-color: transparent;
   color: #2a3647;
   flex: 1;
   padding: 0;
   margin: 0;
}

.add-task__select-input::placeholder {
   color: #2a3647;
}

.add-task__select-input:focus {
   outline: none;
}

.add-task__select:active {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
   transition: all 100ms ease-in-out;
}

.add-task__select-wrapper {
   position: relative;
}

.add-task__select-menu {
   position: absolute;
   top: calc(100% - 10px);
   left: 0;
   right: 0;
   padding: 10px 0 0;
   margin: 0;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   gap: 1px;
   list-style: none;
   border-top: none;
   border-radius: 0 0 10px 10px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
   z-index: 1;
   opacity: 0;
   pointer-events: none;
   transform: scaleY(0);
   transform-origin: top;
   transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.add-task__select-wrapper .add-task__select--open ~ .add-task__select-menu {
   opacity: 1;
   pointer-events: auto;
   transform: scaleY(1);
}

.add-task__select-menu--assigned {
   max-height: 294px;
   overflow-y: scroll;
   scrollbar-gutter: stable;
   scrollbar-color: #2b3647 #fff;
}

.add-task__select-menu--assigned::-webkit-scrollbar {
   width: 8px;
}

.add-task__select-menu--assigned::-webkit-scrollbar-track {
   background-color: #fff;
}

.add-task__select-menu--assigned::-webkit-scrollbar-thumb {
   background-color: #2b3647;
   border-radius: 4px;
}

.add-task__assigned-initials {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
   width: 100%;
}

.add-task__assigned-initial {
   font-size: 12px;
   font-weight: 700;
   background-color: #ff7a00;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 42px;
   height: 42px;
   border: 2px solid #fff;
   border-radius: 50%;
   cursor: pointer;
}

.add-task__assigned-overflow {
   font-size: 12px;
   font-weight: 700;
   background-color: transparent;
   color: #2a3647;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 42px;
   height: 42px;
   border: 2px solid #2a3647;
   border-radius: 50%;
   cursor: pointer;
}

.add-task__selection-group--category-open .add-task__input-group--subtasks {
   position: relative;
   transform: translateY(90px);
}

.add-task__information-group--selection.add-task__selection-group--assigned-open .add-task__selection-group {
   position: relative;
   transform: translateY(294px);
}

.add-task__select-option {
   font-size: 20px;
   padding: 12px 16px;
   cursor: pointer;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 100ms ease-in-out;
}

.add-task__select-option--assigned {
   padding: 7px 16px;
}

.add-task__select-option:hover {
   background-color: #eee;
   transition: all 100ms ease-in-out;
}

.add-task__select-option:active {
   background-color: #d1d1d1;
   transition: all 100ms ease-in-out;
}

.add-task__select-option--selected {
   background-color: #2a3647;
   color: #fff;
}

.add-task__select-option--selected:hover {
   background-color: #091931;
}

.add-task__option-content {
   display: flex;
   align-items: center;
   gap: 16px;
}

.add-task__option-initials {
   font-size: 12px;
   font-weight: 700;
   width: 42px;
   height: 42px;
   background-color: #ff7a00;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #fff;
   border-radius: 50%;
}

.add-task__input-group--required:last-child {
   gap: 4px;
}

.add-task__select--category.add-task__select--open .add-task__select-arrow {
   transform: rotate(180deg);
}

.add-task__select--assigned.add-task__select--open .add-task__select-arrow {
   transform: rotate(180deg);
}

.add-task__input-field.add-task__input-field--error .add-task__input,
.add-task__input-field.add-task__input-field--error .add-task__select--category,
.add-task__select--category.add-task__select--error {
   border: 1px solid rgba(230, 0, 38, 1);
}

.add-task__input-field.add-task__input-field--error
   .add-task__input--required {
   color: rgba(230, 0, 38, 1);
}

.add-task__input-field.add-task__input-field--error .add-task__input:focus {
   border: 1px solid #29abe2;
}

.add-task__input:focus {
   border: 1px solid #29abe2;
}

.add-task__footer {
   position: sticky;
   bottom: 0;
   background-color: transparent;
   padding-bottom: 32px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   z-index: 10;
   pointer-events: none;
}

.add-task__footer::before {
   content: "";
   position: absolute;
   inset: 0;
   background: transparent;
   backdrop-filter: opacity(0.1);
   pointer-events: none;
}

.add-task__footer > * {
   position: relative;
   z-index: 1;
   pointer-events: auto;
}

.add-task__required-symbol {
   font-size: 20px;
   color: #ff8190;
}

.add-task__required-text {
   font-size: 16px;
}

.add-task__form-buttons {
   display: flex;
   gap: 16px;
}

.add-task__button {
   padding: 16px;
   color: #fff;
   display: flex;
   align-items: center;
   gap: 4px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: all 100ms ease-in-out;
}

.add-task__button:hover {
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
   transition: all 100ms ease-in-out;
}

.add-task__button--create {
   font-size: 21px;
   font-weight: 700;
   background-color: #2a3647;
}

.add-task__button--create:hover {
   background-color: #29abe2;
   transition: all 100ms ease-in-out;
}

.add-task__button--create.is-disabled {
   background-color: #a8a8a8;
   cursor: default;
   filter: none;
   pointer-events: auto;
}

.add-task__button--create:active {
   background-color: #091931;
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel {
   font-size: 20px;
   font-weight: 400;
   background-color: #f6f7f8;
   color: #2a3647;
   border: 1px solid #2a3647;
}

.add-task__cancel--secondary {
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel:hover {
   color: #29abe2;
   border: 1px solid #29abe2;
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel:hover .add-task__cancel--secondary {
   fill: #29abe2;
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel:active {
   color: #091931;
   border: 1px solid #091931;
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel:active .add-task__cancel--secondary {
   fill: #091931;
   transition: all 100ms ease-in-out;
}

@media (max-width: 1300px) {
   .add-task__priority-field {
      gap: 12px;
      flex-wrap: wrap;
   }

   .add-task__priority-option {
      font-size: 18px;
      padding: 12px 0;
      flex: 1 1 calc(33.333% - 8px);
      min-width: 140px;
   }
}

@media (max-width: 1200px) {
   .add-task__form-information {
      padding: 0 96px 0 64px;
      gap: 72px;
   }

   .headline_tasks {
      padding: 96px 48px 40px 64px;
   }

   .add-task__information-group {
      width: 47.5%;
   }

   .add-task__dividing-line {
      height: 380px;
   }
}

@media (max-width: 1000px) {
   .add-task__form-information {
      padding: 0 64px 0 48px;
      gap: 64px;
   }

   .headline_tasks {
      padding: 80px 40px 32px 48px;
   }

   .add-task__information-group {
      width: 48.5%;
   }

   .add-task__dividing-line {
      height: 360px;
   }
}

@media (max-width: 900px) {
   .add-task__form-information {
      padding: 0 48px;
      gap: 48px;
   }

   .headline_tasks {
      padding: 64px 32px 24px 48px;
   }

   .add-task__overview {
      flex-direction: column;
      gap: 32px;
   }

   .add-task__information-group {
      width: 100%;
   }

   .add-task__dividing-line {
      display: none;
   }

   .add-task__priority-field {
      flex-wrap: wrap;
   }

   .add-task__priority-option {
      flex: 1 1 calc(50% - 8px);
   }

   .add-task__required-text {
      display: none;
   }

   .add-task__required-symbol {
      display: none;
   }
}