.add-task__form-information {
   display: flex;
   flex-direction: column;
   gap: 96px;
   padding: 0 136px 0 96px;
}

.add-task__overview {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.headline_tasks {
   display: flex;
   align-items: center;
   gap: 16px;
   padding: 110px 64px 48px 96px;
}

.add-task__information-group {
   width: 43.5%;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__information-group--selection {
   gap: 24px;
}

.add-task__selection-group {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__input-group {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.add-task__label {
   font-size: 20px;
   font-weight: 400;
   display: flex;
   color: #2b3647;
}

.add-task__label--required {
   color: #ff8190;
}

.add-task__input {
   font-size: 20px;
   font-weight: 400;
   padding: 18px 16px;
   background-color: #fff;
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   outline: none;
}

.add-task__input::placeholder {
   color: #d1d1d1;
}

.add-task__input-field {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.add-task__input--title {
   padding: 12px 21px;
}

.add-task__input--required {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 400;
   color: rgba(230, 0, 38, 0);
}

.add-task__input--textarea {
   height: 120px;
   resize: none;
}

.add-task__input--date {
   padding: 12px 16px;
   background-image: url("../assets/icons/desktop/calendary.svg");
   background-repeat: no-repeat;
   background-position: right 16px center;
   background-size: 24px 24px;
   color: #2b3647;
   position: relative;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.add-task__input--date::-webkit-calendar-picker-indicator {
   opacity: 0;
   cursor: pointer;
   position: absolute;
   right: 16px;
   width: 24px;
   height: 24px;
}

.add-task__dividing-line {
   height: 424px;
}

.add-task__priority-field {
   display: flex;
   gap: 16px;
}

.add-task__priority-option {
   font-size: 20px;
   font-weight: 400;
   padding: 16px 10px;
   background-color: #fff;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   gap: 8px;
   border: none;
   border-radius: 10px;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
   cursor: pointer;
}

.add-task__priority-option:hover {
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.add-task__priority-option--active.add-task__priority-option--urgent {
   background-color: #ff3d00;
}

.add-task__priority-option--active.add-task__priority-option--medium {
   background-color: #ffa800;
}

.add-task__priority-option--active.add-task__priority-option--low {
   background-color: #7ae229;
}

.add-task__priority-option--active {
   font-size: 21px;
   font-weight: 700;
   color: #fff;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0));
}

.add-task__priority-option--active:hover {
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0));
}

.add-task__priority-option--active .add-task__priority-icon--secondary {
   fill: #fff;
}

.add-task__select {
   font-size: 20px;
   font-weight: 400;
   padding: 12px 16px;
   background-color: #fff;
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.add-task__input-group--required:last-child {
   gap: 4px;
}

.add-task__select--category.add-task__select--open .add-task__select-arrow {
   transform: rotate(180deg);
}

.add-task__select--assigned.add-task__select--open .add-task__select-arrow {
   transform: rotate(180deg);
}

.add-task__input-field.add-task__input-field--required .add-task__input,
.add-task__select--category {
   border: 1px solid rgba(230, 0, 38, 1);
}

.add-task__input-field.add-task__input-field--required
   .add-task__input--required {
   color: rgba(230, 0, 38, 1);
}

.add-task__input-field.add-task__input-field--required .add-task__input:focus {
   border: 1px solid #29abe2;
}

.add-task__input:focus {
   border: 1px solid #29abe2;
}

.add-task__footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.add-task__required-symbol {
   font-size: 20px;
   color: #ff8190;
}

.add-task__required-text {
   font-size: 16px;
}

.add-task__form-buttons {
   display: flex;
   gap: 16px;
}

.add-task__button {
   padding: 16px;
   color: #fff;
   display: flex;
   align-items: center;
   gap: 4px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: all 100ms ease-in-out;
}

.add-task__button:hover {
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.add-task__button--create {
   font-size: 21px;
   font-weight: 700;
   background-color: #2a3647;
}

.add-task__button--create:hover {
   background-color: #29abe2;
}

.add-task__button--create:active {
   background-color: #091931;
}

.add-task__button--cancel {
   font-size: 20px;
   font-weight: 400;
   background-color: #f6f7f8;
   color: #2a3647;
   border: 1px solid #2a3647;
}

.add-task__cancel--secondary {
   transition: all 100ms ease-in-out;
}

.add-task__button--cancel:hover {
   border: 1px solid #29abe2;
   color: #29abe2;
}

.add-task__button--cancel:hover .add-task__cancel--secondary {
   fill: #29abe2;
}

.add-task__button--cancel:active {
   border: 1px solid #091931;
   color: #091931;
}

.add-task__button--cancel:active .add-task__cancel--secondary {
   fill: #091931;
}

@media (max-width: 1300px) {
   .add-task__priority-label {
      font-size: 16px;
   }

   .add-task__dividing-line {
      display: none;
   }

   .add-task__information-group {
      width: 48%;
   }

   .add-task__form-information {
      padding: 0 96px 0 96px;
   }
}
