.headline--help {
    justify-content: space-between;
    padding: 110px 64px 48px 96px;
}

.headline__logo {
    position: fixed;
    top: 230px;
    right: 100px;
    border-radius: 50%;
    transition: all 100ms;
}

.headline__logo:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #d1d1d1;
}

.textcontent {
    padding: 0 64px 0 96px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.help__text--secondary {
    color: #29abe2;
}

.help__subheading {
    font-size: 27px;
    font-weight: 700;
}

.help__howToUse {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.help__howToUse--list {
    display: flex;
    gap: 35px;
}

.help__subheading--bulletpoint {
    font-size: 20px;
    font-weight: 700;
}

.help__howToUse--gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.help__subheading--conclusion {
    padding: 16px 0 32px;
}