.headline__legalinformation {
    padding: 110px 64px 48px 96px;
}

.textcontent {
    padding: 0 96px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.legal__text--secondary {
    color: #29abe2;
}

.legal__heading {
    font-size: 27px;
    font-weight: 700;
}

.legal__imprint {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.legal__subheading {
    font-size: 20px;
    font-weight: 700;
}

.legal__list {
    list-style-position: inside;
    list-style-type: disc;
}

.legal__textwrapper--gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

a {
    color: #29abe2;
}