.overview {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 64px;
   padding-left: 96px;
}

.overview__summary {
   width: 560px;
   height: 562px;
   display: flex;
   flex-direction: column;
   gap: 28px;
}

.headline_summary {
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 110px 64px 48px 96px;
}

.summary__card {
   background-color: #fff;
   display: flex;
   border-radius: 30px;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
   transform-origin: left;
   transition: all 100ms;
}

.summary__card:nth-child(2) {
   transform-origin: center;
}

.summary__card:last-child {
   transform-origin: right;
}

.summary__card.summary__urgent {
   background-color: #fff;
   display: flex;
   border-radius: 30px;
   filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
   transform-origin: left top;
   transition: all 100ms;
}

.summary__card:hover {
   cursor: pointer;
   background-color: #2b3647;
   color: #fff;
   transform: scaleX(1.07) scaleY(1.09);
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.summary__card.summary__urgent:hover {
   transform: scaleX(1.03) scaleY(1.09);
}

.summary__card:hover .summary__text {
   color: #fff;
}

.summary__card:hover .todo__icon--circle {
   fill: #fff;
}

.summary__card:hover .todo__icon--pencil {
   fill: #2b3647;
}

.summary__card:hover .todo__icon--checked {
   stroke: #2b3647;
}

.summary__card:active {
   cursor: pointer;
   background-color: #fff;
   color: #000;
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.summary__card:active .summary__text {
   color: #2b3647;
}

.summary__card:active .todo__icon--circle {
   fill: #2b3647;
}

.summary__card:active .todo__icon--pencil {
   fill: #fff;
}

.summary__card:active .todo__icon--checked {
   stroke: #fff;
}

.summary__number {
   font-size: 64px;
   font-weight: 600;
}

.summary__text {
   font-size: 20px;
   font-weight: 400;
   color: #2a3647;
}

.summary__todo {
   display: flex;
   flex: 1;
   gap: 28px;
}

.todo__card {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   gap: 18px;
}

.summary__urgent {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   gap: 61px;
}

.urgent__priority {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 18px;
}

.urgent__icon {
   height: 60px;
}

.priority__card {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.priority__text {
   font-size: 16px;
   font-weight: 400;
   color: #2a3647;
}

.urgent__dividingLine {
   height: 102px;
}

.urgent__date {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 13px;
}

.date__number {
   font-size: 21px;
   font-weight: 700;
}

.date__deadline {
   font-size: 16px;
   font-weight: 400;
}

.summary__tasks {
   display: flex;
   flex: 1;
   gap: 28px;
}

.tasks__card {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex: 1;
   text-align: center;
}

.overview__greetings {
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 3px;
}

.greetings__name {
   font-size: 64px;
}

.greetings__name--secondary {
   color: #29abe2;
}

@media (max-width: 1160px) {
   .overview__summary {
      gap: 24px;
   }

   .summary__todo {
      gap: 24px;
   }

   .todo__card {
      gap: 14px;
   }

   .urgent__priority {
      gap: 14px;
   }

   .summary__tasks {
      gap: 24px;
   }

   .overview__greetings {
      display: none;
      flex-direction: row;
      gap: 16px;
   }
}

@media (max-width: 1080px) {
   .overview {
      padding: 0;
      justify-content: center;
   }

   .headline_summary {
      padding: 32px 0 24px 0;
   }

   .headline {
      justify-content: center;
   }
}
